waddle_plot.gif
map_images/from_drawmaps/MAP01_map.png
map_images/from_drawmaps/MAP02.png
wads/pwads/AV.WAD
wads/pwads/DOOM.WAD
wads/pwads/Eviternity.wad
wads/pwads/scythe2.wad
wads/pwads/STRG.wad
wads/pwads/WOS.wad
